@use "../utils";

.search-box {
    position: relative;

    .search-input::-webkit-search-cancel-button {
        display: none;
    }

    .search-reset {
        display: none;
        position: absolute;
        border: none;
        background-color: inherit;

        &::after {
            content: "X";
            font-family: "FontAwesome";
            color: utils.$clr-dark;
        }
    }

    .search-input:valid ~ .search-reset {
        display: block;
    }

    .search-submit {
        position: absolute;

        &::after {
            content: "\f002";
            font-family: "FontAwesome";
        }
    }
}
