@use "../utils";

:root {
    font-family: "Manrope", sans-serif;
    color: utils.$clr-darker;
}

.header {
    &-title {
        font-family: "Anton", sans-serif;
        font-size: 2.75rem;
        color: utils.$clr-primary;
    }

    &-search {
        > * {
            color: utils.$clr-dark;
        }

        #submit {
            font-family: "FontAwesome";
        }

        .search-icon {
            font-size: 1.6875rem;
            color: utils.$clr-lighter;
        }
    }
}

.filters-lists {
    .filters-title {
        font-weight: 500;
    }

    .search-box > * {
        color: utils.$clr-dark;
    }

    li {
        font-size: 0.875rem;
    }

    [class^="filters-"][class$="-selected"] {
        font-weight: 700;
    }
}

.recipe-count {
    font-family: "Anton", sans-serif;
    font-size: 1.3125rem;
}

.tags {
    font-size: 0.875rem;
}

.close-tag {
    font-weight: 700;
}

.card-time {
    font-size: 0.75rem;
}

.card-title {
    font-family: "Anton", sans-serif;
    font-size: 1.125rem;
}

.card-recipe {
    &-title {
        font-size: 0.75rem;
        font-weight: 700;
        color: utils.$clr-dark;
    }
    &-description {
        font-size: 0.875rem;
    }
}

.card-ingredients {
    &-title {
        font-size: 0.75rem;
        font-weight: 700;
        color: utils.$clr-dark;
    }
    &-description {
        font-size: 0.875rem;
        font-weight: 500;
    }
    &-quantity {
        font-size: 0.875rem;
        color: utils.$clr-dark;
    }
}

.no-results-message {
    font-size: 1.125rem;
}
