@use "../utils";

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2rem;

    .filters-lists {
        display: flex;
        gap: 3rem;

        ul {
            width: 12.2rem;
            height: 3.5rem;
            padding: 1rem;
            background-color: utils.$clr-lighter;
            @extend %border;
            align-content: center;
        }
    }

    .filters-title {
        display: flex;
        justify-content: space-between;

        &::after {
            content: "\f078";
            font-family: "FontAwesome";
        }
    }
}
