@use "../utils";

#main-container {
    max-width: map-get(utils.$breakpoints, "max-screen");
    margin: auto;
}

main {
    height: 100dvh;
    padding: 1rem 4rem;
    background-color: utils.$clr-light;
}
