@use "../utils";

#main-container {
    max-width: map-get(utils.$breakpoints, "max-screen");
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 6rem;
    background-color: utils.$clr-light;
}
