@use "../utils";

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-height: 9rem;
    overflow-y: auto;

    [class$="-tag"] {
        width: 12.2rem;
        height: 3.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: utils.$clr-primary;
        @extend %border;
    }

    .tag-title {
        padding: 1rem;
        @extend %ellipsis;
    }

    .close-tag {
        width: 2.125rem;
        height: 2.125rem;
        margin-inline-end: 0.46975rem;
        display: flex;
        justify-content: center;
        cursor: pointer;
        @include utils.xIcon;
    }
}
